.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.correct, .incorrect {
  animation: blink 0.5s linear 3; 
}

.correct {
  color: rgb(136, 221, 136);
}

.incorrect {
  color: rgb(226, 148, 148);
}
.hidden {
  display: none;
}

.main-wrapper {
  padding: 15px;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  z-index: 1;
  border: 1px rgba(255, 255, 255, 0.493) solid;
  border-radius: 8px;
  animation: none;
  width: 100%;
}

.main-wrapper.playing {
  animation: mymove 3s infinite;
}

@keyframes mymove {
  50% {box-shadow: 0 0 20px rgba(255, 255, 255, 0.39);}
}

.container-player {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  margin-bottom: 10px;
  width: 500px;
  margin-top: 15px;
}

.main-container {
  flex: 1;
}

.now-playing__name {
  font-size: 1em;
  margin-bottom: 0.2em;
}

.now-playing__artist {
  margin-bottom: 1em;
  
}

.now-playing__status {
  margin-bottom: 1em;
  font-weight: 800;
}

.now-playing__cover {
  border-radius: 8px;
  float: left;
  margin-right: 10px;
  text-align: right;
  width: 100px;
  height: 100px;
}

.now-playing__side {
  margin-left: 2%;
  width: 45%;
}

.btn-spotify {
  background-color:#44c767;
  border-radius:28px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:6px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  width: 130px;
}
.btn-spotify:active {
  position:relative;
  top:1px;
}

img { background: transparent; }

.guess {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 452px;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.flex-container-start {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-container-end {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: flex-end;
}

.header {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
  margin-top: 10px;
  color: #a2b3d4;
}

.dropdown-menu {
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.dropdown-item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #fff;
  border: none;
  text-align: left;
  width: 100%;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}

.app_width {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song {
  width: 350px;
}

.flex-container-song {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.guess-container {
  display: flex;
  flex-direction: column;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.guess-inner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

tr {
  display: flex;
  justify-content: space-between;
  width: 80px;
}